black==21.7b0
boto3==1.17.106
dfply==0.3.3
faker==8.12.1
faker_music==0.4
faker-vehicle==0.2.0
lckr-jupyterlab-variableinspector==3.0.9
ipydrawio==1.1.1
isort==5.9.3
ipython-sql==0.4.0
jedi-language-server==0.34.3
jupyterlab-code-formatter==1.4.10
jupyterlab-lsp==3.8.1
jupyterlab-spellchecker==0.7.1
openpyxl==3.0.8
plotly==5.3.1
psycopg2-binary==2.9.1
s3fs==2021.8.1