black==22.3.0
boto3==1.21.21
dfply==0.3.3
faker==13.13.0
faker_music==0.4
faker-vehicle==0.2.0
lckr-jupyterlab-variableinspector==3.0.9
ipydrawio==1.2.0
isort==5.10.1
ipython-sql==0.4.0
jedi-language-server==0.36.0
jupyterlab-code-formatter==1.4.11
jupyterlab-lsp==3.10.1
jupyterlab-spellchecker==0.7.2
openpyxl==3.0.10
plotly==5.8.2
psycopg2-binary==2.9.3
s3fs==2022.5.0
plotnine==0.8.0
itables==0.4.7